.navbar{
    width: 225px;
    background-color: #1d2939;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0; 
    display: none;
    z-index: 3;
}
.navbar__logo{
    width: 90%; 
    margin: auto;
    margin-top: 15px;
}
.navbar__logo:hover{
    cursor: pointer;
}
.navbar__logo__link{
    width: 100%;
    display: flex;
}
.navbar__logo__img{
    width: 90%;
    margin: auto;
}
.navbar__menu{
    margin-top: 10px;
}
.navbar__menu__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.navbar__menu__item{
    font-size: 1.4rem;
    font-weight: bolder;
    color: #d0d5dd;
    width: 100%;
    padding: 10px 10px;
    border-radius: 7px;
}
.navbar__menu__item:hover{
    cursor: pointer;
    background-color: #ef6820;
}
.navbar__menu__icon{
    margin-right: 20px;
}


@media (max-width: 1023.99999px){
    .content__header{
        width: 100%;
    }
    .header-left__navbar{
        display: block;
    }
    .navbar{
        display: block;
        transform: translateX(-100%);
    }
    .header-right__same__icon{
        display: none;
    }
}

@media(min-width: 740px) and (max-width: 1023px){
    .content{
        top:7%;
    }
}
/* Mobile */
@media(max-width: 739px){
   .header-right__same__text{
    display: none;
   }
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0 , 0 , 0 , 0.3);
    z-index: 2;
    display: none;
}
.nav-input:checked ~ .overlay{
    display: block;
}
.nav-input:checked ~ .navbar{
    transform: translateX(0);
}



