.sidebar{
    width: 16.66667%;
    background-color: #1d2939;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
}
.sidebar__logo{
    width: 90%; 
    margin: auto;
    margin-top: 15px;
}
.sidebar__logo:hover{
    cursor: pointer;
}
.sidebar__logo__link{
    width: 100%;
    display: flex;
}
.sidebar__logo-img{
    width: 90%;
    margin: auto;
}
.sidebar__menu{
    margin-top: 10px;
}
.menu__list{
    list-style: none;
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}
.menu__item:nth-child(3){
    -webkit-order: 2;
    order: 2;
}
.menu__item:nth-child(2){
    -webkit-order: 1;
    order: 1;
}
.menu__item:nth-child(1){
    -webkit-order: 3;
    order: 3;
}
.menu__item{
    font-size: 1.4rem;
    font-weight: bolder;
    color: #d0d5dd;
    width: 100%;
    padding: 15px 10px;
    border-radius: 7px;
}
.menu__item:hover{
    cursor: pointer;
    background-color: #ca4904;
}
.menu__icon{
    margin-right: 20px;
}




.content{
    position: relative;
    background-color: #ffffff;
    top: 5%;
    
}
.content__header{
    position: fixed;
    height: 9%;
    width: 83.33333%;
    top: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
    border: #eaecf0 solid 1px;
    z-index: 1;
    
}
.content__header-left{
    display: flex;
    height: 100%;
}
.header-left__feetback{
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    color: var(--while-color);
    background-color: #ef6820;
    padding: 8px 5px;
    border-radius: 20px;
}
.header-left__feetback:hover{
    cursor: pointer;
    background-color: #ca4904;
}
.header-left__text{
    padding-left: 10px;
}
.header-left__icon{
    margin-left: 7px;
    padding-right: 10px;
}



.content__header-right{
    display: flex;
    height: 100%;
    font-size: 1.7rem; 
    color: #4f5f6f;
}
.header-right__same{
    position: relative;
    margin: auto;
    padding-left: 10px;
    height: 100%;
    display: flex;
    cursor: pointer;
    flex-wrap:nowrap;
}

.header-right__same:hover .header-right__languages{
    display: block;
    cursor: pointer;
}
.header-right__languages{
    width: 220px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eaecf0;
    border-radius: 10px;
    display: none;
}
.languages__list{
    display: flex;
    width: 100%;
    padding: auto;
    height: 50%;
    align-items: center;
}
.languages__list:first-child{
    border-radius: 9px 9px 0 0;
}
.languages__list:last-child{
    border-radius: 0 0 9px 9px;
}
.languages__list:hover{
    background-color: #eaecf0;
}
.languages__img{
    width: 12%;
    left: 0;
    margin-left: 9%;
}
.languages__text{
    margin-left: 3%;
    font-size: 1.5rem;
}


.header-right__same__img{
    height: 60%;
    margin: auto;
    margin-right: 8px;
    border-radius: 30px;
}
.header-right__same__text{
    margin: auto;
    font-size: 1.5rem;
    margin-right: 5px;
}
.header-right__same__icon{
    margin: auto;
    font-size: 1.5rem;
}

.header-right__gach{
    margin: auto;
    padding: 0px 20px;
    font-size: 2rem;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}



.header-right__notify{
    margin: auto;
    padding: 0px 20px 0px 0px;
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    
}
.header-right__notify::after{
    position: absolute;
    width: 100%;
    height: 20px;
    content: "";
    display: block;
    left: -10px;
    
}

.header-right__notify:hover .notify__content{
    display: block;
}


.notify__content{
    position: absolute;
    width: 321px;
    max-height: 300px;
    height: 120px;
    right: 0;
    top: 185%;
    display: flex;
    flex-direction: column;
    /* border: 1px solid #eaecf0; */
    border-radius: 5px;
    display: none;
}
.notify__status{
    height: 35%;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: end;
    align-items: center;
    border: 1px solid #eaecf0;
    border-radius: 5px 5px 0 0;
}
.notify__status__text{
    font-size: 1.4rem;
    font-weight: bolder;
    color: #ffffff;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #ef6820;
    border-radius: 5px;
    
}
.notify__main{
    height: 45%;
    width: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    border-left: 1px solid #eaecf0;
    border-right: 1px solid #eaecf0;
    /* border: 1px solid #eaecf0; */
}
.notify__main:hover{
    background-color: #eaecf0;
}
.notify__main .course__authur{
    display: flex;
    justify-content: start;
    align-items: center;
}
.notify__main__text{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
    padding: 0;
}



.notify__main__time{
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.notify__show{
    height: 20%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid #eaecf0;
    border-radius: 0 0 5px 5px;
}
.notify__show__text{
    margin: auto;
    text-decoration: none;
    font-size: 1.5rem;
    color: #187bff;
    font-weight: bolder;
}

.header-right__user{
    width: 220px;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    height: 99px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #eaecf0;
    border-radius: 9px;
    display: none;
}
.header-right__same:hover .header-right__user{
    display: block;
    cursor: pointer;
}
.user__list{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.user__setting{
   display: flex;
   width: 100%;
   height: 33px;
   align-items: center;
   font-size: 1.5rem;
}
.user__setting:first-child{
    border-radius: 9px 9px 0 0;
}
.user__setting:last-child{
    border-radius: 0 0 9px 9px;
}
.user__setting:hover{
    background-color: #eaecf0;
}
.user__setting__text{
    margin-left: 10px;
    width: 100%;
}
.user__setting__icon{
    margin-left: 10px;
}


.content__main{
    display: block;
    padding: 20px;
}
.main__title{
    margin-top: 2%;
    display: flex;
    font-size: 21px;
    color: #4f5f6f;
    padding: 16px;
    font-weight: bolder;
    background-color: #ffffff;
    border:#eaecf0 solid 1px;
    border-radius: 7px;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.main__course{
    position: relative;
}


.course__list{
    height: 380px;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 16px;
    border: 1px #eaecf0 solid;
    border-radius: 10px;
    
}
.course__img{
    height: 50%;
    width: 100%;
    padding: 10px 0px 10px 0;
    
}
.course__item{
    height: 40%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.course__status{
    display: flex;
    justify-content: space-between;
}
.course__status--left{
    font-size: 14px;
    color: #4f5f6f;
    padding: 5px 10px;
}
.course__status--right{
    font-size: 14px;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 10px;
    color: #ef6820;
    background-color: #fef0c7;
}
.course__link{
    font-size: 18px;
    width: 100%;
    font-weight: bolder;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    color: #187bff;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 290px;
}
.course__authur{
    display: flex;
    padding: 5px 10px;
    font-size: 13px;
    width: 100%;
    justify-content: flex-start;
}
.course__authur__img{
    width: 10%;
    border-radius: 25px;
}
.course__authur__name{
    margin-left: 10px;
    margin-top: 8px;
    text-align: center;
}

.course__complete {
    background-color: rgb(192, 192, 192);
    width: 100%;
    border-radius: 3px;
    margin-left: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.course__complete--total {
    background-color: #007bff;
    color: white;
    text-align: right;
    font-size: 12px;
    border-radius: 3px;
    
}
.course__complete--completed {
    width: 10%;
}

.course__infor{   
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: end;
    font-size: 1.5rem;
    color: #4f5f6f;
}
.course__infor__icon{
    margin-left: 20px;
    margin-top: 10px;
}
.course__infor__text{
    margin-left: 5px;
    margin-top: 10px;
}

.content__footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    font-size: 1.3rem;
    color: #4f5f6f;
}

.header-left__navbar{
    margin: auto;
    font-size: 20px;
    margin-right: 15px;
    display: none;
}