header.header
    nav.navbar
        img.navbar__logo(src="../images/logo.jpg", alt="logo")
        include ./menu
    .banner 
        .banner__img
            p.banner__text BR
            h1 Architects