/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.app {
  max-width: 1440px;
  margin: 0 auto;
}

body {
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  background-color: #fff;
  color: #2f2f2f;
}

.btn {
  display: inline-block;
  outline: none;
  font-family: Verdana, sans-serif;
  line-height: 1;
  font-size: 15px;
  font-weight: 500;
  background-color: transparent;
  text-decoration: none;
  padding: 11px 32px;
  color: #2f2f2f;
  cursor: pointer;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 8px 16px;
  max-width: 1317px;
  margin: 0 auto;
  letter-spacing: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  z-index: 100;
}
@media screen and (max-width: 739px) {
  .navbar {
    letter-spacing: 0;
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
}
.menu__link {
  text-decoration: none;
  color: #2f2f2f;
  font-weight: 700;
  font-family: "Verdana", sans-serif;
  outline: 0;
  position: relative;
  transition: all 0.2s linear;
}
.menu__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #ccc;
  width: 0;
  transition: all 0.2s linear;
}
.menu__link:hover::before {
  width: 100%;
}

.banner__img {
  background: lightblue url(../images/banner1.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  height: 700px;
  width: 100%;
  color: #fff;
  font-size: 36px;
}
.banner__text {
  background-color: rgba(32, 28, 28, 0.589);
  padding: 10px;
  margin-right: 5px;
  font-weight: bold;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  -webkit-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
}

.content {
  padding: 16px 32px;
  max-width: 1317px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  margin: 10px 0;
  padding: 16px 0;
  font-size: 24px;
  width: 100%;
}

.project__main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 30px 0;
}
@media screen and (max-width: 739px) {
  .project__main {
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .project__main {
    grid-template-columns: auto auto;
  }
}

.project__img {
  width: 100%;
  position: relative;
  transition: transform 0.2s; /* Animation */
}
.project__img:hover {
  transform: scale(1.05);
}

.project__list {
  position: relative;
}

.project__text {
  position: absolute;
  top: 0;
  padding: 8px 16px;
  background-color: #000000;
  color: #fff;
}

.desc {
  margin: 16px 0;
}

.about__main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
  padding: 30px 0;
}
@media screen and (max-width: 739px) {
  .about__main {
    grid-template-columns: auto;
  }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .about__main {
    grid-template-columns: auto auto;
  }
}

.about__box {
  width: 100%;
}

.about__img {
  width: 100%;
  position: relative;
  transition: transform 0.2s; /* Animation */
}
.about__img:hover {
  transform: scale(1.05);
}

.about__name {
  font-size: 24px;
}

.about__jod {
  color: #a4a4a4;
  padding: 16px 0;
}

.btn__about {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
  background-color: #f1f1f1;
}
.btn__about:hover {
  background-color: #a4a4a4;
}
@media screen and (max-width: 739px) {
  .btn {
    width: 85%;
  }
}
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .btn {
    width: 84%;
  }
}

hr.new1 {
  width: 100%;
}

.contact__main {
  display: flex;
  flex-direction: column;
}

.contact__input {
  margin: 8px 0;
  padding: 8px;
  font-size: 17px;
  background: #fff;
  border: solid 1px #a4a4a4;
}

.btn__contact {
  color: #fff;
  margin-top: 10px;
  width: 122px;
  background-color: #000000;
}
.btn__contact:hover {
  background-color: #a4a4a4;
  color: #2f2f2f;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a.active {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

footer {
  margin-top: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  background-color: #2f2f2f;
  color: #fff;
}

.footer__icon {
  margin-left: 10px;
  transition: transform 0.2s; /* Animation */
}
.footer__icon:hover {
  transform: scale(1.05);
}

/*# sourceMappingURL=app.css.map */
