.content{
    padding: 16px 32px;
    max-width: 1317px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.title{
    margin: 10px 0;
    padding: 16px 0;
    font-size: 24px;
    width: 100%;
}
.project__main{
    @include grid;
    @include maxWidth(739px){
        grid-template-columns: auto;
    }
    @include minMax(740px,1023px){
        grid-template-columns: auto auto;
    }

        
}
.project__img{
    width: 100%;
    position: relative;
}
.project__list{
    position: relative;
}
.project__text{
    position: absolute;
    top: 0;
    padding: 8px 16px;
    background-color: #000000;
    color: $background;
}
.desc{
    margin: 16px 0;
}

.about__main{
    @include grid;
    @include maxWidth(739px){
        grid-template-columns: auto;
    }
    @include minMax(740px,1023px){
        grid-template-columns: auto auto;
    }
}
.about__box{
    width: 100%;
}
.about__img{
    width: 100%;
    position: relative;
}
.about__name{
    font-size: 24px;
}
.about__jod{
    color: $gray;
    padding: 16px 0;
}
.btn{
    &__about{
        width: 80%;
        @include flex;
        justify-content: center;
        margin: 16px 0 ;
        background-color: #f1f1f1;
    }
    &__about:hover{
        background-color: $gray;
    }
    @include maxWidth(739px){
        width: 85%;
    }
    @include minMax(740px,1023px){
        width: 84%;
    }
}
hr.new1 {
    width: 100%;
}
.contact__main{
    display: flex;
    flex-direction: column;
}
.contact__input{
    margin: 8px 0;
    padding: 8px;
    font-size: 17px;
    background: $background;
    border: solid 1px $gray;
}
.btn{
    &__contact{
        color: $background;
        margin-top: 10px;
        width: 122px;
        background-color: #000000;
    }
    &__contact:hover{
        background-color: $gray;
        color: $text-color;
    }
}
.pagination{
    @include flex;
    justify-content: center;
}
.pagination a {
    color: black;
    
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}
.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
  }