footer{
    margin-top: 20px;
    padding: 20px;
    @include flex;
    font-size: 16px;
    background-color: $text-color;
    color: $background;
}
.footer__icon{
    margin-left: 10px;
    @include zoom_img();
}