.app{
    max-width: 1440px;
    margin: 0 auto;
}
body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: $background;
    color: $text-color;
}
.btn{
    display: inline-block;
    outline: none;
    font-family: Verdana,sans-serif;
    line-height: 1;
    font-size: 15px;
    font-weight: 500;
    background-color: transparent;
    text-decoration: none;
    padding: 11px 32px;
    color: $text-color;
    cursor: pointer;
}